body {
  font-family: fantasy;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin: 30px;
}

.app-title {
  display: inline-block;
}

.button-class {
  background-color: #d8bfd8;
  box-shadow: 20px 20px 10px #808080;
  color: #000;
  font-family: fantasy;
  font-size: 20px;
  margin-right: 30px;
}

@media only screen and (min-width: 480px) {
  .button-class {
    padding: 20px;
    width: 40%;
  }
}
